In [1]:
import pandas as pd
import numpy as np
import sys

from sqlalchemy import *
#from sqlalchemy import desc, nullsfirst
import sqlalchemy

In [2]:
sqlalchemy.__version__
sys.setrecursionlimit(200000);

In [3]:
# in-memory database
lDSN = 'sqlite://'
#lDSN = 'mysql://user:pass@localhost/GitHubtest'
#lDSN = 'postgresql:///GitHubtest'
engine = create_engine(lDSN , echo=True)
#create_engine(  , echo=True)
conn = engine.connect()

2016-08-26 09:59:12,670 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2016-08-26 09:59:12,671 INFO sqlalchemy.engine.base.Engine ()
2016-08-26 09:59:12,673 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2016-08-26 09:59:12,674 INFO sqlalchemy.engine.base.Engine ()

In [4]:
#conn.close?

In [5]:
#a= conn.connection.connection.
#a

In [6]:
type(MetaData.tables)

NoneType

In [7]:
df = pd.DataFrame()
df['Time'] = range(0, 10)
df['Signal'] = df['Time'] / 10.0;

In [8]:
df.head(12)

   Time  Signal
0     0     0.0
1     1     0.1
2     2     0.2
3     3     0.3
4     4     0.4
5     5     0.5
6     6     0.6
7     7     0.7
8     8     0.8
9     9     0.9

In [9]:
df.to_sql("ds1" , conn, if_exists='replace')

2016-08-26 09:59:13,262 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("ds1")
2016-08-26 09:59:13,264 INFO sqlalchemy.engine.base.Engine ()
2016-08-26 09:59:13,266 INFO sqlalchemy.engine.base.Engine
CREATE TABLE ds1 (
	"index" BIGINT,
	"Time" BIGINT,
	"Signal" FLOAT
)


2016-08-26 09:59:13,267 INFO sqlalchemy.engine.base.Engine ()
2016-08-26 09:59:13,268 INFO sqlalchemy.engine.base.Engine COMMIT
2016-08-26 09:59:13,269 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_ds1_index ON ds1 ("index")
2016-08-26 09:59:13,270 INFO sqlalchemy.engine.base.Engine ()
2016-08-26 09:59:13,271 INFO sqlalchemy.engine.base.Engine COMMIT
2016-08-26 09:59:13,274 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-08-26 09:59:13,275 INFO sqlalchemy.engine.base.Engine INSERT INTO ds1 ("index", "Time", "Signal") VALUES (?, ?, ?)
2016-08-26 09:59:13,275 INFO sqlalchemy.engine.base.Engine ((0, 0, 0.0), (1, 1, 0.1), (2, 2, 0.2), (3, 3, 0.3), (4, 4, 0.4), (5, 5, 0.5), (6, 6, 0.6), (7, 7, 0.7), (8, 8, 0.8), (9, 9, 0.9))
2016-08-26 09:59:13,276 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:

meta = MetaData()
table2 = Table('ds1', meta, autoload=True, autoload_with=engine)

2016-08-26 09:59:13,369 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("ds1")
2016-08-26 09:59:13,370 INFO sqlalchemy.engine.base.Engine ()
2016-08-26 09:59:13,371 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("ds1")
2016-08-26 09:59:13,372 INFO sqlalchemy.engine.base.Engine ()
2016-08-26 09:59:13,373 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ds1' AND type = 'table'
2016-08-26 09:59:13,373 INFO sqlalchemy.engine.base.Engine ()
2016-08-26 09:59:13,376 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("ds1")
2016-08-26 09:59:13,377 INFO sqlalchemy.engine.base.Engine ()
2016-08-26 09:59:13,378 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_ds1_index")
2016-08-26 09:59:13,379 INFO sqlalchemy.engine.base.Engine ()
2016-08-26 09:59:13,380 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("ds1")
2016-08-26 09:59:13,381 INFO sqlalchemy.engine.base.Engine ()
2016-08-26 09:59:13,381 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_ds1_index")
2016-08-26 09:59:13,382 INFO sqlalchemy.engine.base.Engine ()
2016-08-26 09:59:13,383 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ds1' AND type = 'table'
2016-08-26 09:59:13,384 INFO sqlalchemy.engine.base.Engine ()

In [11]:
table2.columns.keys()

['index', 'Time', 'Signal']

In [12]:
cte1 = select([table2.c['index'] , table2.c['Time'] , table2.c['Signal']]).cte("My_CTE_Alias")

In [13]:
cte1.columns.keys()

['index', 'Time', 'Signal']

In [14]:
cte1

In [15]:
expr_sig = table2.c['Signal']
#Sig_lag1 = .where(table2.c['Time'] == 0)

In [16]:
expr_sig

Column('Signal', FLOAT(), table=<ds1>)

In [17]:
expr_columns_cte = [ cte1.c.index, cte1.c.Time, cte1.c.Signal];
expr_columns_table2 = [ table2.c.index, table2.c.Time, table2.c.Signal];

expr_columns_cte = [ cte1 ];
expr_columns_table2 = [ table2 ];

def createLagsAsJoins(table , H):
    TS = table
    join_H = TS;
    for h in range(0 , H):
        cte_h = select([TS]).cte("LAG_" + str(h + 1))
        join_H = join_H.join(cte_h, TS.c.index == (cte_h.c.index + h + 1), isouter=True)
    statement = select(join_H.columns).select_from(join_H)
    print(join_H.c.keys())
    return (statement , join_H)

# (select t."Signal"  from ds1 t where ((t."index" + 1) = ds1."index")) as Signal_LAG_1, 
def createLagsAsCTE(table , H , col, index_col):
    TS = table
    TS1 = table.alias("t");
    col_expr_1 = TS1.c[col];
    index_expr = TS.c[index_col]
    index_expr_1 = TS1.c[index_col]
    exprs = [table];
    for h in range(1 , H+1):
        expr1 = select([col_expr_1]).where(index_expr == (index_expr_1 + h));
        expr = expr1;
        expr = expr.label(col + "_LAG_" + str(h));
        exprs = exprs + [expr];
    cte_H = select(exprs).cte("LAGS")
    statement = select([cte_H])
    print(cte_H.c.keys())
    return (statement , cte_H)

def addRowNumber(table , time_col):
    exprs = [table]
    row_number_column = func.row_number().over(order_by=asc(table.c[time_col])).label('row_number')
    exprs = exprs + [row_number_column]
    statement = select(exprs)
    return statement

In [18]:
stmt = addRowNumber(table2 , 'Time');
result = conn.execute(stmt).fetchmany(5)
result

2016-08-26 09:59:14,143 INFO sqlalchemy.engine.base.Engine SELECT ds1."index", ds1."Time", ds1."Signal", row_number() OVER (ORDER BY ds1."Time" ASC) AS row_number
FROM ds1
2016-08-26 09:59:14,144 INFO sqlalchemy.engine.base.Engine ()
2016-08-26 09:59:14,145 INFO sqlalchemy.engine.base.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) near "(": syntax error [SQL: 'SELECT ds1."index", ds1."Time", ds1."Signal", row_number() OVER (ORDER BY ds1."Time" ASC) AS row_number \nFROM ds1']

In [ ]:
(stmt , j) = createLagsAsCTE(table2 , 4 , 'Signal' , 'index')
result = conn.execute(stmt).fetchmany(5)
result

In [ ]:
expr_columns_cte = [ cte1.c.index, cte1.c.Time, cte1.c.Signal];
expr_columns_table2 = [ table2.c.index, table2.c.Time, table2.c.Signal];

expr_columns_cte = [ cte1 ];
expr_columns_table2 = [ table2 ];

cte2 = select([table2]).cte("CTE2")
cte3 = select([table2]).cte("CTE3")
cte4 = select([table2]).cte("CTE4")

join1 = table2.join(cte1, table2.c.index == (cte1.c.index + 1), isouter=True)
join2 = table2.join(cte2, table2.c.index == (cte2.c.index + 2), isouter=True)
join3 = table2.join(cte3, table2.c.index == (cte3.c.index + 3), isouter=True)
join4 = table2.join(cte4, table2.c.index == (cte4.c.index + 4), isouter=True)

join_1234 = table2.join(cte1, table2.c.index == (cte1.c.index + 1), isouter=True).join(cte2, table2.c.index == (cte2.c.index + 2), isouter=True).join(cte3, table2.c.index == (cte3.c.index + 3), isouter=True).join(cte4, table2.c.index == (cte4.c.index + 4), isouter=True)


statement = select(expr_columns_cte + expr_columns_table2).where(table2.c.index == (cte1.c.index - 1))
statement = statement.order_by(table2.c.index)

statement1 = select([table2, cte1]).select_from(join1)
statement2 = select([table2, cte1]).select_from(join2)
statement3 = select([table2, cte1]).select_from(join3)
statement4 = select([table2, cte1]).select_from(join4)

statement1234 = select([table2, cte1, cte2, cte3, cte4]).select_from(join_1234)

In [ ]:
join_1234.c.keys()

In [ ]:
(stmt , j) = createLagsAsCTE(table2 , 1 , 'Signal' , 'index')
result = conn.execute(stmt).fetchmany(5)
result

In [ ]:
stmt.columns.keys()

In [ ]:
func.row_number33

In [ ]:
s = select([table2])

In [ ]:


expr = over(func.row_number(), order_by=table2.c.Time)
expr

In [ ]:

def buildSQLForLAgs(H , table):
    lSQL = '\nWITH "LAGS_CTE" AS  \n(SELECT \nds1."index" AS "index",\n ds1."Time" AS "Time",\n ds1."Signal" AS "Signal",\n';
    for h in range(0 , H):
        lSQL = lSQL + '(select t."Signal"  from ds1 t where ((t."index" + ' + str(h + 1) + ') = ds1."index")) as Signal_LAG_' + str(h+1)  
        if((h+1) < H):
            lSQL = lSQL + ', \n'
    lSQL = lSQL + ' \nFROM ds1) \nSELECT "LAGS_CTE".*  \nFROM "LAGS_CTE"'; # + table;
    return lSQL;

#stmt = select([expr])
lSQL1 = "SELECT row_number() OVER (ORDER BY ds1.Time) AS anon_1FROM ds1"
#result1 = conn.execute(lSQL)
lSQL2 = "SELECT ROWID AS anon_1FROM ds1"

lSQL3 = buildSQLForLAgs(7 , 'ds1');
result2 = conn.execute(lSQL3).fetchall()
#result = conn.execute(stmt).fetchall()
result2

In [ ]:
1str(s)

In [ ]:
stmt = select([table2]).\
            order_by(desc(table2.c.A))

In [ ]:
from sqlalchemy.sql import column
c_A = table2.c.A
c_B = table2.c.B

In [ ]:
c_A

In [ ]:
print( c_A + c_B)

In [ ]:
c_Sum = c_A + c_B
c_Sum2 = c_A + 2 * c_B
c_Sum3 = (c_A - 55) / 67
c_prev_A = 

stmt = select([c_A, c_B, c_Sum, c_Sum2, c_Sum3])

In [ ]:
result = conn.execute(stmt)

In [ ]:
result.fetchmany(5)

In [ ]:
def generateLinearCombination(iTable, iDict , iIntercept):
    stmt_arg = []
    sum_1 = None
    for k,v in iDict.items():
        print(k)
        name = iTable.c[k]
        stmt_arg = stmt_arg + [name]
        if(sum_1 is None):
            sum_1 = v * name
        else:
            sum_1 = sum_1 + v * name
    sum_1 = sum_1 + iIntercept
    sum_1.label("MyScore")
    print(sum_1)
    return sum_1

def debrief_statement(stmt):
    print(stmt)
    result = conn.execute(stmt)
    print(result.fetchmany(6))
    return result

def debrief_expression(expr):
    print("debrief_start")
#    stmt_arg = stmt_arg + [expr]
    stmt = select([expr] , use_labels=True)
    result = debrief_statement(stmt)
    print("debrief_end")
    return result

In [ ]:
coeffs = {}
coeffs['A'] = 3
coeffs['B'] = 0.3
coeffs['C'] = -3

In [ ]:
expr = generateLinearCombination(table2, coeffs, iIntercept=5)
res = debrief_expression(expr)

In [ ]:
aaa = expr.compile()

In [ ]:
aaa.__dict__

In [ ]:
expr.expression

In [ ]:
(aa, bb) = expr._orig

In [ ]:
expr.compile?

In [ ]:
def generateCaseWhenDiscrete(iTable, iColumn, iDict , iElseValue):
    stmt_arg = []
    name = iTable.c[iColumn]
    case_1 = None
    for k,v in iDict.items():
        print(k)
        if(case_1 is None):
            case_1 = [(name == k , v)]
        else:
            case_1 = case_1 + [(name == k , v)]
    print(case_1)
    case_2 = case(case_1 , else_ = iElseValue); 
    return case_2

In [ ]:
mapping = {}
mapping["S"] = -1
mapping["W"] = 1
mapping["Z"] = 0

expr = generateCaseWhenDiscrete(table2, "A", mapping, iElseValue=5)
debrief_expression(expr)

In [ ]:
def generateCaseWhenWithSegments(iTable, iColumn, iDict , iElseValue):
    stmt_arg = []
    name = iTable.c[iColumn]
    case_1 = None
    for k,v in iDict.items():
        print(k)
        (a , b) = v
        if(b):
           expr =  (name <= k)
        else:
           expr =  (name < k)            
        if(case_1 is None):
            case_1 = [(expr , a)]
        else:
            case_1 = case_1 + [(expr , a)]
    print(case_1)
    case_2 = case(case_1 , else_ = iElseValue); 
    return case_2

In [ ]:
mapping = {}
#mapping[None] = (-5 , False)
mapping[0.5] = (-1 , False)
mapping[1.0] = (1 , False)
mapping[2] = (0 , True)

expr = generateCaseWhenWithSegments(table2, "B", mapping, iElseValue=5)
debrief_expression(expr)

In [ ]:
a = expr.value
a

In [ ]:
for i in a:
    print(i)

In [ ]:
a[]